/* sizing of map container */
#root {
    height: 100vh;
    width: 100vw;
}

.leaflet-container {
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.search-icon {
    font-size: 2rem;
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: 2;
}

.hidden {
    display: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
    opacity: 0;
    border: none;
}
