#search-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    flex-grow: 0;
}

#search-result {
    cursor: pointer;
}

li:hover {
    background-color: rgb(3, 66, 121);
}

li:active {
    background-color: rgb(3, 49, 89);
}
