#search-icon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    background-color: rgb(3, 49, 89);
    z-index: -1;
}

#search-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-grow: 0;
}

#search-result {
    cursor: pointer;
}

li:hover {
    background-color: rgb(3, 66, 121);
}

li:active {
    background-color: rgb(3, 49, 89);
}
